# Dependencies
node_modules/
.pnpm-store/

# Environment Variables
.env
.env.*
!.env.example

# Next.js Build Outputs
.next/
out/

# NestJS & TypeScript Build Outputs
dist/
build/
*.tsbuildinfo

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.turbo/
tmp/
out-tsc/

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# IDEs and OS Files
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
